/* 
Style colours:
Teal #367588
Light cyan #cee7e6
Fire opal #ef6351
Sunray #e5b25d
Dark purple #2c1320
*/

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/*----------------------Typography-----------------------------*/

body {
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.6;
    color: #000;
}

h1,
h2,
h3,
h4 {
    line-height: 1.4;
    font-family: 'Libre Franklin', sans-serif;
}

h1 {
    font-size: 2.75em;
    font-weight: 900;
}

h2 {
    font-size: 2.25em;
    font-weight: 700;
}

h3 {
    font-size: 1.75em;
    font-weight: 700;
}

h4 {
    font-size: 1.35em;
    font-weight: 500;
}


/*-----------------------Links------------------------------*/

a {
    color: #2B4162;
    text-decoration: underline;
}

a:hover,
a:focus {
    color: #e5b25d;
    text-decoration: underline;
}

a:visited {
    color: #2c1320;
}

a:active {
    color: #ef6351;
}


/*------------------------- Buttons-----------------------------*/

.button {
    display: inline-block;
    background-color: #e5b25d;
    color: #ffffff;
    /* needed to override the default link color */
    font-weight: 700;
    padding: 15px;
    border-radius: 5px;
    border-bottom: 2px solid #ef6351;
    transition: 0.2s opacity;
}

.button:hover,
.button:focus {
    opacity: 0.8;
    text-decoration: none;
}

.button.contact {
    background-color: transparent;
    color: #2B4162;
    text-transform: uppercase;
    border: 2px solid #2B4162;
    text-align: center;
    width: 200px;
    margin: 20px auto;
    display: block;
    transition-duration: 0.2s;
    transition-property: background-color, color;
    ;
}

.button.contact:hover,
.button.contact:focus {
    background-color: #2B4162;
    color: #ffffff;
}


/*---------------------------Images--------------------------------*/
img {
    width: 100%;
}

#logo {
    max-height: 100px;
    width: auto;
}

#me img {
    max-height: 400px;
    width: auto;
    margin: 30px auto;
    display: block;
}

/*------------------------------- Layout styling------------------------------ */

.container {
    padding: 0 15px;
}

.row {
    margin: 25px 0;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 10px;
}


/*------------------------Header-------------------------------------*/

header {
    background-color: #cee7e6;
    text-align: center;
    padding: 10px 0;
    -webkit-box-shadow: 0px 5px 15px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 5px 15px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 5px 15px 0px rgba(50, 50, 50, 0.75);
    position: fixed;
    width: 100%;
}

main {
    padding-top: 180px;
}

/*-----------------------------Navigation-------------------------------------*/

nav {
    display: inline-block;
    width: 100%;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline-block;
}

nav a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #2B4162
}

nav a:visited {
    color: #2B4162
}


nav a:active {
    color: #e5b25d;
}

nav a:hover,
a:focus {
    color: #fff;
}

div.topBotomBordersOut a {
    position: relative;
    z-index: 0;
    cursor: pointer;
    margin: 0px 10px;
    padding: 10px 10px;
}

div.topBotomBordersOut a:before,
div.topBotomBordersOut a:after {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #FFF;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

div.topBotomBordersOut a:before {
    top: 0px;
    transform: translateY(10px);
}

div.topBotomBordersOut a:after {
    bottom: 0px;
    transform: translateY(-10px);
}

div.topBotomBordersOut a:hover:before,
div.topBotomBordersOut a:hover:after {
    opacity: 1;
    transform: translateY(0px);
}


/*--------------------------------------Footer--------------------------------------*/
#contact {
    background-color: #cee7e6;
    text-align: center;
    padding: 20px auto;
}

#contact ul {
    list-style-type: none;
    padding: 0;
}

#contact ul li {
    display: inline-block;
    width: 10%;
    margin: 20px;

}

#contact h2 {
    padding-top: 20px;
}


/*----------------------------------Specific Elements-------------------------------*/

.hero {
    background-color: #cee7e6;
    padding: 20px 0;
    display: inline-block;
    width: 100%;
}

.hero h1 {
    text-align: center;
}

.underline {
    text-decoration: underline;
}

.center-text {
    text-align: center;
}

.center-button {
    text-align: center;
    width: 180px;
    margin: 20px auto;
    display: block;
}

#project-story h3 {
    text-align: center;
}


.svg-cats {
    width: 40%;
    max-width: 100%;
    height: auto;
    margin: 0px auto;
    display: block;
}

.svg-col {
    width: 100%;
}

.padding-top {
    padding-top: 30px;
}


/*------------------------------ Animation --------------------------*/


@keyframes opacityOn {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes opacityOn2 {
    0% {
        opacity: 0;
    }

    70% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes opacityOn3 {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.bubble {
    animation: opacityOn 3s infinite;
}

.bubble2 {
    animation: opacityOn2 3s infinite;
}

.purr {
    animation: opacityOn3 2s infinite;
}



/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
    header {
        text-align: unset;
        padding: 20px 0 13px;
    }

    nav {
        width: auto;
        float: right;
        margin-top: 4px;
    }

    main {
        padding-top: 107px;
    }

    .hero span {
        display: block;
    }

    .col-md-6 {
        width: 50%;
    }

    .project-image img {
        height: 300px;
        width: auto;
        margin: 20px auto;
        display: block;
    }

}

/* ==============================
Large devices (1024px or larger)
================================= */

@media only screen and (min-device-width: 1024px) {
    .col-lg-7 {
        width: 60%;
    }

    .col-lg-5 {
        width: 40%;
    }

    .container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

    main {
        padding-top: 140px;
    }
}