/* 
Style colours:
Teal #367588
Light cyan #cee7e6
Fire opal #ef6351
Sunray #e5b25d
Dark purple #2c1320
*/

* {
    box-sizing: border-box;
}

/*Typography*/

body {
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    color: #000;
}

h1,
h2,
h3,
h4 {
    line-height: 1.4;
    font-family: 'Libre Franklin', sans-serif;
}

h1 {
    font-size: 2.75em;
    font-weight: 900;
}

h2 {
    font-size: 2.25em;
    font-weight: 700;
}

h3 {
    font-size: 1.75em;
    font-weight: 700;
}

h4 {
    font-size: 1.35em;
    font-weight: 500;
}


/*Links*/

a {
    color: #ef6351;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #e5b25d;
    text-decoration: underline;
}

a:visited {
    color: #2c1320;
}

a:active {
    color: #ef6351;
}


/* Buttons*/

.button {
    display: inline-block;
    background-color: #e5b25d;
    color: #ffffff;
    /* needed to override the default link color */
    font-weight: 700;
    padding: 15px;
    border-radius: 5px;
    border-bottom: 2px solid #ef6351;
    transition: 0.2s opacity;
}

.button:hover {
    opacity: 0.8;
    text-decoration: none;
}

.button.contact {
    background-color: transparent;
    color: #ef6351;
    text-transform: uppercase;
    border: 2px solid #ef6351;
    text-align: center;
    width: 200px;
    margin: 20px auto;
    display: block;
}

.button.contact:hover {
    background-color: #ef6351;
    color: #ffffff;
}


/*Images*/
img {
    width: 100%;
}

#logo {
    max-width: 200px;

    text-align: center;
}


/* Layout styling */

.container {
    padding: 0 15px;
}

.row {
    margin: 25px 0;
}



/*Header*/

header {
    background-color: #cee7e6;
    text-align: center;
    padding: 10px 0;
}

header {
    -webkit-box-shadow: 0px 5px 15px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 5px 15px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 5px 15px 0px rgba(50, 50, 50, 0.75);
    position: fixed;
    width: 100%;
}

main {
    padding-top: 310px;
}

/*Navigation*/

nav {
    display: inline-block;
    width: 100%;
}

nav>ul {
    list-style-type: none;
    padding: 0;
}

nav>ul>li {
    display: inline-block;
}

nav>ul>li>a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #367588
}

nav>ul>li>a:visited {
    color: #367588
}


nav>ul>li>a:active {
    color: #e5b25d;
}

nav>ul>li>a:hover,
a:focus {
    color: #e5b25d;
}


/*Footer*/
#contact {
    background-color: #cee7e6;
    text-align: center;
    padding: 20px auto;
}

#contact ul {
    list-style-type: none;
    padding: 0;
}

#contact ul li {
    display: inline-block;
    width: 10%;
    margin: 20px;

}

#contact h2 {
    padding-top: 20px;
}


/*Specific Elements*/

.hero {
    background-color: #cee7e6;
    padding: 20px 0;
    display: inline-block;
    width: 100%;
}

.hero h1 {
    text-align: center;
}

.underline {
    text-decoration: underline;
}

.center-text {
    text-align: center;
}

.center-button {
    text-align: center;
    width: 180px;
    margin: 20px auto;
    display: block;
}

#project-story h3 {
    text-align: center;
}